<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395765532035-6l7j4au02dd7samj58mfncr5jo9k159b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395765532035-6l7j4au02dd7samj58mfncr5jo9k159b</string>
	<key>API_KEY</key>
	<string>AIzaSyDkmH51npMui86fPUk_RwS4u-Dt3g8gy70</string>
	<key>GCM_SENDER_ID</key>
	<string>395765532035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geba.delivery</string>
	<key>PROJECT_ID</key>
	<string>geba-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>geba-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395765532035:ios:29036134afa924dd16a2b6</string>
</dict>
</plist>